<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.iu.s2.notice.NoticeDAO">
  
  	<!-- 공지 리스트 조회 -->
  	<select id="getNoticeList" parameterType="Pager" resultType="NoticeDTO">
  		SELECT * FROM (
			SELECT ROWNUM R, N.* FROM (
				SELECT * 
				FROM NOTICE
				ORDER BY NOTICENUM DESC
			) N
		)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<!-- 공지 상세조회 -->
  	<select id="getNoticeDetail" parameterType="NoticeDTO" resultMap="noticeDetailResult">
  		SELECT * 
  		FROM NOTICE N
	  		LEFT JOIN 
	  		NOTICEIMG NI
	  		USING(NOTICENUM)
  		WHERE NOTICENUM = #{noticeNum}
  	</select>
  	
  	<!-- 조인을 위한 resultMap -->
  	<resultMap type="noticeDTO" id="noticeDetailResult">
  		<id column="NOTICENUM" property="noticeNum"/>
  		<result column="NOTICENAME" property="noticeName"/>
  		<result column="NOTICEDETAIL" property="noticeDetail"/>
  		<result column="WRITER" property="writer"/>
  		<result column="WRITEDATE" property="writeDate"/>
  		<result column="HITS" property="hits"/>
  		<association property="noticeImgDTO" javaType="noticeImgDTO">
  			<id column="FILENUM" property="fileNum"/>
  			<result column="FILENAME" property="fileName"/>
  			<result column="ORINAME" property="oriName"/>
  		</association>
  	</resultMap>
  	
  	<!-- 리스트 총 갯수 -->
  	<select id="getNoticeCount" resultType="Long">
  		SELECT COUNT(NOTICENUM) FROM NOTICE
  	</select>
  	
  	<!-- 공지작성 -->
  	<insert id="setNoticeAdd" parameterType="NoticeDTO">
  		<selectKey keyProperty="noticeNum" resultType="long" order="BEFORE">
  			SELECT NOTICENUM_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO NOTICE
  		VALUES (#{noticeNum}, #{noticeName}, #{noticeDetail}, #{writer}, #{writeDate}, 0)
  	</insert>
  	
  	<!-- 파일 업로드 경로 -->
  	<insert id="setNoticeImgAdd" parameterType="NoticeImgDTO">
  		INSERT INTO NOTICEIMG
  		VALUES (NOTICENUM_SEQ.NEXTVAL, #{fileName}, #{oriName}, #{noticeNum})
  	</insert>
  	
  	<!-- 공지수정 -->
  	<update id="setNoticeUpdate" parameterType="NoticeDTO">
  		UPDATE NOTICE SET NOTICENAME = #{noticeName}, NOTICEDETAIL = #{noticeDetail}, WRITER = #{writer}, WRITEDATE = #{writeDate} 
  		WHERE NOTICENUM = #{noticeNum}
  	</update>
  	
  	<!-- 공지삭제 -->
  	<delete id="setNoticeDelete" parameterType="NoticeDTO">
  		DELETE NOTICE WHERE NOTICENUM = #{noticeNum}
  	</delete>
  	
  	<!-- Img경로 삭제 -->
  	<delete id="setNoticeImgDelete" parameterType="NoticeDTO">
  		DELETE NOTICEIMG WHERE NOTICENUM = #{noticeNum}
  	</delete>
  	
  </mapper>
  
  